body {
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

h3 {
    color: rgb(11, 12, 12);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    background-color:lightseagreen;
    display: inline;

}

hr {
    height: 2px;
    width: 100%;
    color: rgb(70, 73, 73);
    border-color: gray;
    border-style: solid;
    border-width: medium;
}

table {
    border-collapse: collapse;

}

td {
    border: 1px solid;
    border-color: black;
    padding: 8px;
}